body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 1rem;
	line-height: 1.6;

	background-color: #eee;

	padding: 0 2rem;
	margin: 2.1em auto;
	max-width: 80ch;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background: #222
	}

	a:link {
		color: #58a6ff
	}

	a:visited {
		color: #8e96f0
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2
}
